<div *ngIf="msgTrue">Reservierung created succesfully</div>
<div class="container">
<form #rForm="ngForm" (submit)="addNewReservation(rForm)">



  

<div class="form-group">
<mat-form-field appearance="fill">
  <mat-label>Reservierung</mat-label>
  <input matInput type ="datetime-local" class="form-control" name="timestamp" required ngModel="date | dateFormatPipe">
</mat-form-field>




</div>
<div class="design" >
<button class ="form-control"  mat-raised-button>Add new Reservierung</button>
<button  (click)="addPlayer()"  mat-raised-button color="primary">Gießen</button>

</div>
</form>




