.map-container {
  
  position: static;
  top: 0;
  left: 0;
  right: 100;
  width: 100%;
  height: calc(100vh - 182px);
  margin: auto;
  padding: 0;
}

#map {
  display: flex;
  height: 100%;
}

.leaflet-popup {
  margin-right: 17px;
}


