<mat-card class="card" *ngFor="let description of alldescriptiontdata">
  <div *ngFor="let object of allobjectdata">
    <mat-card-title-group>
      <mat-card-title> <mat-card-subtitle>Steckbrief:</mat-card-subtitle>{{ description.name.german }}</mat-card-title>
      <mat-card-subtitle>{{ description.name.botanical }}</mat-card-subtitle>
      <img mat-card-sm-image alt="baum_icon" src="assets/img/baum_icon.png" />
    </mat-card-title-group>
    <mat-card-content>
      <p>
        Dieser Baum mit der ID {{ object.ID }} steht in dem Bereich
        {{ object.description }}.<br /><br /><br />
        Baumart: {{ description.origin }} <br /><br />
        Blattform: {{ description.leaf_shape }}<br /><br />
        Blühzeit: {{ description.flowering_time }}<br /><br />
        allgemeine Beschreibung: {{ description.general_description }}<br />
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a> </a>
    </mat-card-actions>
  </div>
</mat-card>
