@use "@angular/material" as mat;
@import "src/my-color/my-primary-color.scss";

$my-primary: mat.define-palette($mc-primary);

.card {
  margin: 15px;
  border-width: 10px;
  border-radius: 10px;
  border-color: mat.get-color-from-palette($my-primary, 100);
  background-color: mat.get-color-from-palette($my-primary, 50);
}
