<div>
    
    <form (submit)="register(registerForm)">
      <mat-form-field appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input matInput type="text" [formControl]="emailFormControl" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
        <div *ngIf="emailFormControl.hasError('pattern') && emailFormControl.touched" class="error">Adresse e-mail invalide</div>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Passwort</mat-label>
        <input matInput type="password" [formControl]="passwordFormControl2" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Pseudonym</mat-label> 
        <input matInput type="text" [formControl]="pseudonymFormControl" required>
      </mat-form-field>
      <br>
      <button mat-raised-button>Registrieren</button>
    </form>
  </div>
  
  <!-- Message to show when user has been successfully registered -->
  <div *ngIf="msgTrue">Registrierung erfolgreich abgeschlossen</div>
  