<mat-card class="example-card" *ngFor="let object of allobjectdata">
  <mat-card-title-group>
    <mat-card-title >{{object.object_id}}</mat-card-title>
    <mat-card-subtitle>{{object.description}}</mat-card-subtitle>
    <img mat-card-sm-image alt="tree-icon" src="assets/tree-icon.png" >
  </mat-card-title-group>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>
    <a mat-button routerLink="/tree/{{object.ID}}/info">
      <span>Open</span>
    </a>
  </mat-card-actions>
</mat-card>
