//hergestellt mit http://mcg.mbitson.com/

$mc-accent: (
    50 : #fff5e0,
    100 : #ffe6b3,
    200 : #ffd680,
    300 : #ffc64d,
    400 : #ffb926,
    500 : #ffad00,
    600 : #ffa600,
    700 : #ff9c00,
    800 : #ff9300,
    900 : #ff8300,
    A100 : #ffffff,
    A200 : #fff8f2,
    A400 : #ffddbf,
    A700 : #ffcfa6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
