//INFOS unter https://material.angular.io/guide/theming

@use '@angular/material' as mat; // für die vorgefertiegten Farbpaletten

// Eigene Farbpaletten
@import 'src/my-color/my-primary-color.scss';
@import 'src/my-color/my-accent-color.scss';


@include mat.core();    // Fügt die Grundstyles hinzu, die nicht geändert werden sollen,
                        // nur die Farben werden im folgenden überschrieben




//Helles Design
//Hinzufügen der Farbpaletten zu den Schemata
$my-ligth-primary: mat.define-palette($mc-primary);
$my-ligth-accent: mat.define-palette($mc-accent, 700, 800, 900);
$my-ligth-warn: mat.define-palette(mat.$red-palette);

//Schema zu Design hinzufügen
$my-ligth-theme: mat.define-light-theme((
  color: (
    primary: $my-ligth-primary,
    accent: $my-ligth-accent,
    warn: $my-ligth-warn,
  )
));

//Dunkles Design
//Hinzufügen der Farbpaletten zu den Schemata
$my-dark-primary: mat.define-palette($mc-primary);
$my-dark-accent: mat.define-palette(mat.$red-palette, 700, 800, 900);
$my-dark-warn: mat.define-palette(mat.$red-palette);

//Schema zu Design hinzufügen
$my-dark-theme: mat.define-dark-theme((
  color: (
    primary: $my-dark-primary,
    accent: $my-dark-accent,
    warn: $my-dark-warn,
  )
));


//Alle Component sollen das Farbschema benutzen
@include mat.all-component-colors($my-ligth-theme);
//@include mat.all-component-themes($my-dark-theme);

