//hergestellt mit http://mcg.mbitson.com/

$mc-primary: (
    50 : #eef5e5,
    100 : #d5e5bf,
    200 : #b9d495,
    300 : #9cc26a,
    400 : #87b54a,
    500 : #72a82a,
    600 : #6aa025,
    700 : #5f971f,
    800 : #558d19,
    900 : #427d0f,
    A100 : #d1ffaf,
    A200 : #b3ff7c,
    A400 : #96ff49,
    A700 : #87ff30,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

