<div style="display: flex;">
  <mat-card style="flex: 1 1 ;">
    <mat-card-content>Platzierung</mat-card-content>
  </mat-card>
  <mat-card style="flex: 1 1 ;">
    <mat-card-content>
      <ng-template [ngIf]="userrang" [ngIfElse]="elseblock">
        {{userrang.platzierung}}
      </ng-template>
   <ng-template #elseblock>-</ng-template>
    
    </mat-card-content>
  </mat-card>
</div>

<div style="display: flex;">
  <mat-card style="flex: 1 1 ;">
    <mat-card-content>Name</mat-card-content>
  </mat-card>
  <mat-card style="flex: 1 1 ;">
    <mat-card-content>
      <ng-template [ngIf]="userrang" [ngIfElse]="elseblock">
        {{userrang.pseudonym}}
      </ng-template>
   <ng-template #elseblock>-</ng-template>
    
    </mat-card-content>
  </mat-card>
</div>
<div style="display: flex;">
  <mat-card style="flex: 1 1 ;">
    <mat-card-content>Rang</mat-card-content>
  </mat-card>
  <mat-card style="flex: 1 1 ;">
    <mat-card-content>
      <ng-template [ngIf]="userrang" [ngIfElse]="elseblock">
        {{userrang.rangstatus}}
      </ng-template>
   <ng-template #elseblock>-</ng-template>
    
    </mat-card-content>
  </mat-card>
</div>
<div style="display: flex;">
  <mat-card style="flex: 1 1 ;">
    <mat-card-content>Aktuelle Greenpunkte</mat-card-content>
  </mat-card>
  <mat-card style="flex: 1 1 ;">
    <mat-card-content>
      <ng-template [ngIf]="userrang" [ngIfElse]="elseblock">
        {{userrang.points}}
      </ng-template>
   <ng-template #elseblock>-</ng-template>
    
    </mat-card-content>
  </mat-card>
</div>


<div style="display: flex;">
  <mat-card style="flex: 1 1 ;">
    <mat-card-content>Level</mat-card-content>
  </mat-card>
  <mat-card style="flex: 1 1 ;">
    <mat-card-content>
      <ng-template [ngIf]="userrang" [ngIfElse]="elseblock">
        {{userrang.level}}
      </ng-template>
   <ng-template #elseblock>-</ng-template>
    
    </mat-card-content>
  </mat-card>
</div>




<mat-divider></mat-divider>

<mat-form-field>
  <input matInput [matDatepicker]="pickerStart" placeholder="Start date" (dateInput)="addEventStart('input', $event)">
  <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
  <mat-datepicker #pickerStart></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <input matInput [matDatepicker]="pickerEnd" placeholder="End date" (dateInput)="addEventEnd('input', $event)">
  <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
  <mat-datepicker #pickerEnd></mat-datepicker>
</mat-form-field>




<mat-divider></mat-divider>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource&& dataSource.length>0">
  
 <!-- Position Column -->
 <ng-container matColumnDef="platzierung">
  <mat-header-cell *matHeaderCellDef> Platzierung </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.platzierung}} </mat-cell>
</ng-container> 
  
  <!-- Position Column -->
  <ng-container matColumnDef="first_name">
    <mat-header-cell *matHeaderCellDef> Pseudonym </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.pseudonym}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="points">
    <mat-header-cell *matHeaderCellDef> Punkte</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.points}} </mat-cell>
  </ng-container>




  <ng-container matColumnDef="level">
    <mat-header-cell *matHeaderCellDef> Level </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.level}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="rangstatus">
    <mat-header-cell *matHeaderCellDef> Rangstatus </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.rangstatus}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-divider></mat-divider>

<mat-divider></mat-divider> 
  
    <!--"http://localhost:4200/green-game/spielwiese" wenn docker container nicht verwendet wird ansonsten port 80 bei reservierungsbutton -->
    <button (click)="addPlayer()"  mat-raised-button color="primary">Gießen</button>
    <a mat-button href="http://localhost:80/green-game/spielwiese" target="_blank">RESERVIEREN</a>

<mat-divider></mat-divider>