<div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>enter date</mat-label>
      <mat-date-range-input [formGroup]="d" [rangePicker]="dateRangePicker">
        <input matStartDate placeholder="Start date" #dateRangeStart formControlName="s">
        <input matEndDate placeholder="End date" #dateRangeEnd formControlName="e"
          (dateChange)="dateRangeChange(dateRangeStart,dateRangeEnd)">
      </mat-date-range-input>
      <mat-hint>YYYY-MM-DD – YYYY-MM-DD</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <div class="canvas-container">
    <canvas #chart></canvas>
  </div>
</div>
