<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-image: url("hintergrund.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>
</head>
<body>
  <div>
    <!-- Formulaire de connexion -->
    <form (submit)="login(loginForm)">
      <mat-form-field appearance="outline">
        <mat-label>E-Mail oder pseudonym</mat-label>
        <input matInput type="text" [formControl]="loginFormControl" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
        <div *ngIf="loginFormControl.hasError('pattern') && loginFormControl.touched" class="error">E-Mail invalide</div>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" [formControl]="passwordFormControl" required>
      </mat-form-field>
      <br>
      <button mat-raised-button>Anmelden</button>
    </form>
  </div>

  <div>
    <br>
    <br>
    Noch kein Konto? Dann hier registrieren:
  </div>
  <button mat-raised-button>Zur Registrierung</button>
</body>
</html>
